@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');



body{
    background-color:#F5F2E9 ;
    color: #3B3A36 ;
    font-weight: 500;
}
a.active{
    color: #A47C48;
}
a.active hr{
    display: block;
    border-radius: 100%;
    background-color: #A47C48;
}
